<div class="post">
  <h2>Create Kit</h2>

  <%= simple_form_for @kit do |f| %>

  <%= f.association :client, label_method: :full_name, value_method: :id, include_blank: false, as: :collection_select, collection: @clients %>
  <%= f.submit %>


  <% end %>
</div>
