html {
  border-top: 6px solid tint($primary, 40);
}

::selection {
  background: $tertiary; /* WebKit/Blink Browsers */
  color: white;
}
::-moz-selection {
  background: $tertiary; /* Gecko Browsers */
  color: white;
}

.container {
  @include outer-container();
  margin-bottom: $nav-height * 2;
}

  header {

    @include span-columns(12);

    h1, h1 a {
      color: $tertiary;
      font-family: $serif;
    }

    span {

      &#title{
        @include span-columns(4);
        font-family: $serif;

        em {
          font-family: $sans-serif;
          color: $primary;
        }
      }

      &#search {

        input[type=text] {
          @include span-columns(4);
          border-radius: 0;
          height: 2.5rem;
          border: 1px solid tint($tertiary, 50);
          color: $primary;
          -webkit-box-shadow: 5px 5px 0px 0px tint($tertiary, 30);
          -moz-box-shadow:    5px 5px 0px 0px tint($tertiary, 30);
          box-shadow:         5px 5px 0px 0px tint($tertiary, 30);
        }

        input::-webkit-input-placeholder {
          color: tint($primary, 30);
        }
        input::-moz-placeholder {
          color: tint($primary, 30);
        }
        input:-moz-placeholder {   /* Older versions of Firefox */
          color: tint($primary, 30);
        }
        input:-ms-input-placeholder {
          color: tint($primary, 30);
        }

        input[type=submit] {
          @include span-columns(1);
          border-radius: 0;
          height: 2.5rem;
          background-color: white;
          border: 1px solid tint($tertiary, 50);
          color: tint($tertiary, 10);
          -webkit-box-shadow: 5px 5px 0px 0px tint($tertiary, 30);
          -moz-box-shadow:    5px 5px 0px 0px tint($tertiary, 30);
          box-shadow:         5px 5px 0px 0px tint($tertiary, 30);
          border-top-right-radius: 0.2em;
          border-bottom-right-radius: 0.2em;
        }

        input[type=text]:focus {
          color: $tertiary;
        }
      }

      &#plus {
        @include span-columns(3);
        text-align: right;
        font-size: $base-font-size * 0.95;
        cursor: pointer;
        float: right;

        em {
          font-family: $sans-serif;
          color: $primary;
        }
      }
    }

    margin-top: $nav-height / 2;
    margin-bottom: $nav-height / 5;

  }

  .alert {
    border-radius: 0.2em;
    border: 1px tint($tertiary,60) solid;
    background-color: tint($tertiary, 90);
    @include span-columns(12);
    color: tint($tertiary, 10);
    padding: 0.2em;
    margin: 0.4em 0;
    float: left;
  }

  .notice {
    border-radius: 0.2em;
    border: 1px tint($sub-primary,60) solid;
    background-color: tint($sub-primary, 90);
    @include span-columns(12);
    color: tint($sub-primary, 10);
    padding: 0.2em;
    margin: 0.4em 0;
    float: left;
  }

.top {
  @include media($mobile) {
    @include span-columns(12);
    padding: 2rem;
  }

  @include span-columns(12);

  -webkit-box-shadow: 10px 10px 0px 0px $sub-primary;
  -moz-box-shadow:    10px 10px 0px 0px $sub-primary;
  box-shadow:         10px 10px 0px 0px $sub-primary;

  a {
    color: $light;

    i {
      padding-right: 0.5em;
    }
  }

  background-color: tint($primary, 20);
  padding: 2rem;
  margin-bottom: 2rem;

  h2 {
    font-size: 1.5rem;
  }

  .collections, .search-short, .search-long, .messages, .kits {

    h2 {

      border-bottom: 1px solid $sub-primary;

      &.title {
        font-family: $serif;
        margin-top: 0;

        a {
          color: shade($sub-primary,50);
        }

      }

    }

  }

  .kits {
    @include span-columns(8 of 12);

    li:first-of-type {
      border-top: 5px solid shade($primary, 20);
    }

    li.kit {
      border-left: 1px solid shade($primary, 20);
      border-right: 1px solid shade($primary, 20);
      border-bottom: 1px solid $primary;
      background-color: tint($primary, 60);
      padding: 1em 0.5em;

      a {
        font-weight: 700;
        color: shade($sub-primary, 40);
      }

      i {
        float: right;
      }
    }

    button {

      margin-top: 1em;

      i a {
        color: $light;
      }

    }
  }

  .collections {
    @include span-columns(8 of 12);
  }

  .messages {
    @include span-columns(4 of 12);

    div.message:first-of-type {
      border-top: 5px solid shade($primary, 20);
    }

    .message {

      border-left: 1px solid shade($primary, 20);
      border-right: 1px solid shade($primary, 20);
      border-bottom: 1px solid $primary;
      background-color: tint($primary, 60);
      padding: 1em 0.5em;

      h4 {
        color: $sub-primary;
      }

      a {

        color: tint($primary, 60);

        :hover {
          color: $primary;
        }

       i {
        float: right;
        }
      }

      a {
        font-weight: 700;
        color: shade($sub-primary, 40);
      }
    }
  }

  .collections li {
    display: inline;
    font-size: $base-font-size * 1.2;
    font-weight: 700;

    a {
      @include span-columns(6);
    }
  }

}

article {


  @include media($mobile) {
    @include span-columns(12);
  }

  @include fill-parent();

  #add {

    min-height: 0;

    padding: 1rem;
    color: shade($tertiary, 70);
    background-color: white;
    color: shade($primary, 20);

    h3 {
      color: $sub-primary;
    }

    input.boolean, label.boolean {
      float: left;
    }

    .post_collection_list {
      clear: both;
    }

    .button {
      background-color: tint($tertiary, 20);
    }

    .fr-bttn {
      color: $sub-primary;
    }

    label {
      color: $sub-primary;
    }

    input {
      border-color: tint($sub-primary, 40);
    }

    i {
      float: right;
      cursor: pointer;
      font-size: 1.5em;
      color: tint($sub-primary, 20);
    }
  }


  .post {
    width: 33.3%;
    min-height: 200px;
    float: left;
    padding: 1rem;
    margin: 0;
    background-color: tint($primary,85);
    border-left: 1px solid tint($primary, 70);
    border-top: 1px solid tint($primary, 70);

    -webkit-box-shadow: 10px 10px 0px 0px tint($primary, 70);
    -moz-box-shadow:    10px 10px 0px 0px tint($primary, 70);
    box-shadow:         10px 10px 0px 0px tint($primary, 70);

    &.info {
      h4 {
        margin-bottom: 0.5rem;
      }
      a {
       font-weight: 700;
      }
      p {
        font-size: 1.05rem;
        color: shade($primary, 55);
      }
    }
    &:hover {
      @include transition (all 0.2s ease-in-out);
      color: lighten($base-font-color,20);
      background-color: #fff;
    }

    .image {
      @include fill-parent();
    }

    position: relative;

    &.from-client {

      color: shade($primary, 40);

      .post-head {

        h4 {
          @include span-columns(9);
          font-size: 1.2rem;
          color: $primary;
        }
        .post-buttons {

          @include span-columns(3);

          input {
            float: right;
          }

          a {
            color: tint($primary, 70);

            :hover {
              color: $primary;
            }
          }

          i {
            font-size: 1.8rem;
          }
        }
      }

      .post-details {
        color: $primary;
        margin-bottom: 2.8rem;
      }

      .text {
        background-color: tint($primary, 70);
        border-radius: 0.2rem;
        padding: 0.8em;
        margin: 0.8em 0;
      }
    }

    &.from-practitioner {

      .post-head {

        h4 {
          @include span-columns(9);
          font-size: 1.2rem;
          float: right;
          color: $tertiary;
        }
        .post-buttons {

          @include span-columns(3);
          text-align: left;

          input {

          }

          a {
            color: tint($tertiary, 70);

            :hover {
              color: $tertiary;
            }
          }

          i {
            font-size: 1.8rem;
          }
        }

        margin-bottom: 2.8rem;
      }

      .post-details {
        color: $tertiary;
        margin-bottom: 2.8rem;
      }

      .text {
        background-color: tint($tertiary, 80);
        border-radius: 0.2rem;
        padding: 0.8em;
        margin: 0.8em 0;
      }
    }
  }

  .sign-up {
    background-color: tint($tertiary, 95);
    border: 1px solid tint($tertiary, 65);
    color: shade($tertiary, 35);

    input, select {

      width: 100%;

      &.button {
        background-color: tint($tertiary, 15);
      }
    }
    h4 {
      color: $tertiary;
      margin-bottom: 0.5rem;
    }
  }

  h4 {
    color: $primary;
  }

  .from-client {
    text-align: left;
  }

  .from-practitioner {
    text-align: right;
    color: shade($tertiary, 15);
    background-color: tint($tertiary, 90);
    border: 1px solid tint($tertiary, 70);

    a {
      color: $tertiary;
    }

    .post-buttons {

      a {
        color: tint($tertiary, 70);

        :hover {
          color: $tertiary;
        }
      }
    }

    h4 {
      color: $tertiary;
    }
  }

  .edit-user form {
    @include span-columns(12);
  }

  display: -webkit-flex;
  display: flex;
  -webkit-align-items: left;
  align-items: left;
  -webkit-justify-content: left;
  justify-content: left;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;

  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-align-content: flex-end;
  align-content: flex-end;
  align-items: stretch;
  align-content: stretch;
}

nav {
  @include fill-parent;
  @include box(horizontal, start, stretch);
  @include linear-gradient(tint($primary, 40), tint($primary, 50));
  position: fixed;
  z-index: 999;
  bottom: 0;
  left: 0;
  height: $nav-height;

  ul {
    margin: 0 auto;
    padding: 0;

    li {
      float: left;
      display: block;
      text-align: right;
      line-height: $nav-height;
      padding-right: 2em;

      a {
        font-size: 1.2em;
        font-weight: 700;
        color: shade($primary, 15);
      }
    }
  }

}

.blank {
  color: tint($primary, 70);
  font-size: 15rem;
  min-height: 2em;
  line-height: 2em;
  text-align: center;

  :hover {
    color: $tertiary;
  }
}

nav a {
  color: $light;
}

.edit_user {
  @include span-columns(6);
}

.cancellation {
  @include span-columns(6);
}
