.container {
  @include outer-container();


}

.main {
  @include span-columns(12);
}

article {
  @include media($mobile) {
    @include span-columns(12);
  }


  @include span-columns(8);
  float: left;
  padding-right: 4rem;

  .post {
    height: 10rem;
    border: 1px solid lighten($primary,40);
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    border-radius: 1rem;
  }
}

aside {
  @include media($mobile) {
    @include span-columns(12);
    padding: 2rem;
  }

  @include span-columns(4);

  float: right;
  background-color: tint($primary, 80);
  padding: 2.5rem;
  border-radius: 1.5rem;

  h1, h2 {

    &.logo {
      font-family: $serif;
      margin-top: 0;
    }
  }

  h2 {
    font-size: 1.5rem;
  }

  .tags, .search, .add {
    border-top: 1px solid $primary;
    min-height: 10rem;
    padding: 1.5rem 0;
  }

}

nav {
  @include fill-parent;
  @include box(horizontal, start, stretch);
  @include linear-gradient(to top, shade($light, 15) 0%, shade($light, 5) 30%, $light 100%);
  border-top: 1px shade($light, 8) solid;
  position: fixed;
  z-index: 999;
  bottom: 0;
  left: 0;
  height: $nav-height;

  ul {
    margin: 0 auto;
    padding: 0;

    li {
      float: left;
      display: block;
      text-align: right;
      line-height: $nav-height;
      padding-right: 2em;

      a {
        font-size: 1.2em;
        font-weight: 700;
        color: $primary;
      }
    }
  }

}

nav a {
  color: $light;
}
